body {
    margin: 0;
    font-family: "Montserrat"; 
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }

  .section1 {
    display: flex;
    flex-direction: row;
    color: #1B3D2F;
    background: linear-gradient(to bottom right, #FDFAE6, #EEE8AA);
    height: 100vh;
    padding: 0;
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  #introduction {
    width: 350px;
    padding: 30px;
  }

  #personal-picture {
    justify-content: center;
    border-radius: 50px;
  }

  .section1 img {
    width: 249px;
    height: 300px;
    border-radius: 50px;
  }

  .arrow-container {
    position: relative;
    left: 48%;
    top: 5%;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 40px;
  }
 
 
  #arrow:hover polygon {
    fill: #1B3D2F;
    transition: all .2s ease-out;
    transform: translateY(-15px);
  }


  polygon {
    fill: #1B3D2F;
    transition: all .2s ease-out;
  }
  polygon.arrow-middle {
    opacity: 0.75;
  }
  polygon.arrow-top {
    opacity: 0.5;
  }
  
  .section2 {
    background-color: #1B3D2F;
    height: 100vh;
    padding: 20px;
    text-align: center;
  }

.contact-details {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: right;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(255, 249, 230, 0.5);
    color: #1B3D2F;
 }

.socmed-icon {
    color: #1B3D2F;
    height: 25px;
    padding: 8px 3px 3px 3px;
 }